/*
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
.hljs-comment,
.hljs-quote {
    color: #575757;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #d70025;
}

/* Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #b21e00;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
    color: #008200;
}

/* Blue */
.hljs-title,
.hljs-section {
    color: #0030f2;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #9d00ec;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #fbe842;
    color: #000;
}

pre .hljs {
    display: block;
    overflow-x: auto;
    background: #2d2d2d;
    color: #adbac7;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
}

.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
}

pre {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.4);
}
pre:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.4);
}
pre::before {
    height: 28px;
    line-height: 38px;
    background: #1c1c1c;
    color: #eeffff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
}
pre::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    top: 0;
    left: 5px;
    margin-top: 5px;
    box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    z-index: 10;
}
pre code {
    padding-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
